{% extends "layout/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block step %}password{% endblock step %}

{% block base %}

<div class="popup__fancybox js-popup">
    <div class="popup__content">

        <div class="popup__title">Stanly</div>
        <div class="popup__desc">сервис для автоматизированного расчета и описания статистики в социальных науках</div>
        <div class="popup__about"><a href="/" class="popup__about-link">о сервисе</a></div>

          <div class="popup-form">
            <div class="popup-form__header">
                <h1 class="popup-form__title">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
            </div>

            <div class="popup-form__content">

                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}

                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>

                {% else %}

                    {% if form %}

                        <form class="js-form-password-reset" method="POST" action="{{ action_url }}">

                            {% csrf_token %}

                            <fieldset class="js-fieldset">

                                {% for field in form %}
                                    <div class="popup-form__input-field">
                                        {{ field }}

                                        {% if field.name == 'password1' or field.name == 'password2' %}
                                            <span class="js-show-password"></span>
                                        {% endif %}

                                        <div class="js-error"></div>
                                    </div>
                                    
                                {% endfor %}

                                <input class="button button-red popup-form__submit" type="submit" name="action" value="Сменить пароль"/>
                                {# <input class="button button-red popup-form__submit" type="submit" name="action" value="{% trans 'change password' %}"/> #}
                                
                            </fieldset>

                        </form>

                        <a href="/all/accounts/login/" class="popup-form__back">Назад к странице входа</a>

                    {% else %}

                        <p>{% trans 'Your password is now changed.' %}</p>

                    {% endif %}

                {% endif %}
                
            </div>

          </div><!--popup-form-->
          <div class="popup__achievements">
                <div class="achievement__wrapper m--red">
                    {% include "block/achievement_block.html" %}
                </div>
          </div>
    </div><!--popup__content-->
</div><!--popup__fancybox-->

{% endblock %}
