{% extends 'layout/popup_auth.html' %}

{% load i18n %}
{% load static %}

{% block form %}

<div class="popup-form__header">
  <div class="popup-form__title">{% trans "Password Reset" %}</div>
</div>

<div class="popup-form__content">
  <div class="popup-form__text">
    Забыли пароль? Введите свой e-mail адрес ниже, и мы вышлем вам письмо для сброса пароля.
  </div>
  <form class="form-reset reset js-reset-form js-ym-autorization" method="POST" action="/all/accounts/reset_password_ajax/">

    {% csrf_token %}

    <div class="js-error"></div>

    <div class="popup-form__fieldset js-fieldset">

      {% for field in form %}

        {% if field.name == 'remember' %}

            <div class="popup-form__remember">

              {{ field }}

              <label class="popup-form__label" for="{{ field.auto_id }}">{{ field.label }}</label>
              <a class="popup-form__link m--right" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

            </div>

        {% elif field.name == 'password' %}

              {{ field }}

              <span class="js-show-password"></span>

        {% else %}

              {{ field }}

        {% endif %}


      {% endfor %}
    </div>

    <input class="button button-red popup-form__submit" type="submit" value="Сбросить мой пароль">
    {# <input class="popup-form__submit" type="submit" value="{% trans "Password Reset" %}"> #}

  </form>
</div><!--popup-form__content-->


<div class="popup-form__footer m--gray-bg">
  <div class="popup-form__text">
    Если у вас возникли сложности со сменой пароля, свяжитесь с нами через <a class="m--vk-mark" href="https://vk.com/psychologstat" target="_blank">группу ВК</a> или на напишите письмо на почту <a class="m--mark" href="mailto:online@statpsy.ru">online@statpsy.ru</a>
  </div>
</div><!--popup-form__footer-->

{% endblock form %}
