{% load i18n %}
{% load static %}
{% load account %}

<div class="popup-form__message-verification">

  <div class="popup-form__message-verification-title">Письмо подтверждения регистрации отправлено!</div>
  <div class="popup-form__message-verification-text">Проверьте свой почтовый ящик, чтобы завершить регистрацию.</div>

  <ul class="popup-form__mail-list">
    <li class="popup-form__mail-item m--google"><a target="_blank" href="https://mail.google.com/" class="popup-form__mail-link"></a></li>
    <li class="popup-form__mail-item m--mailru"><a target="_blank" href="https://e.mail.ru/inbox/" class="popup-form__mail-link"></a></li>
    <li class="popup-form__mail-item m--rambler"><a target="_blank" href="https://mail.rambler.ru/" class="popup-form__mail-link"></a></li>
    <li class="popup-form__mail-item m--yandex"><a target="_blank" href="https://mail.yandex.ru/" class="popup-form__mail-link"></a></li>
  </ul>

</div>
