{% load i18n %}{% autoescape off %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Hello from {{ site_name }}!

Вы получили это письмо, потому что вы или кто-то другой запросил пароль для Вашего аккаунта.
Вы можете проигнорировать это письмо, если Вы не запрашивали сброс пароля. Нажмите на ссылку ниже, чтобы сбросить пароль.
{% endblocktrans %}
<br>

<a href="{{ password_reset_url }}">{{ password_reset_url }}</a>

{% if username %}{% blocktrans %}In case you forgot, your username is {{ username }}.{% endblocktrans %}

{% endif %}{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Thank you for using {{ site_name }}!
{{ site_domain }}{% endblocktrans %}
{% endautoescape %}
