{% if item == 'mann_whitney' %}
    Манна-Уитни
{% elif item == 'wilcox' %}
    Т-Уилкоксона
{% elif item == 'kruskal' %}
    H-Крускалла-Уоллеса
{% elif item == 'anova' %}
    Однофакторный дисперсионный анализ (ANOVA)
{% elif item == 'compare_two' %}
    Т-Стьюдента для зависимых выборок
{% elif item == 'student_ind' %}
    Т-Стьюдента для независимых выборок
{% elif item == 'correlation_spearman' %}
    по Спирмену
{% elif item == 'correlation_pearson' %}
    Пирсону
{% elif item == 'correlation_kendall' %}
    Кендаллу
{% elif item == 'w' %}
    Шапиро-Уилка
{% elif item == 'z' %}
    Колмогорова-Смирнова
{% elif item == 'desc' %}
    Описательные статистики
{% else %}
    {{ item }}
{% endif %}