<div class="goal__block">
    <div class="goal__title">Наша цель: качественная работа и доверие клиентов</div>
    <div class="goal__list">
        <div class="goal m--lovetalk">
            <div class="goal__text-title">служба заботы</div>
            <div class="goal__text"><span class="goal__text-mark">ответим на любые вопросы</span> по полученным расчетам</div>
        </div>
        <div class="goal m--law_contract">
            <div class="goal__text-title">работа на результат</div>
            <div class="goal__text">бесплатно <span class="goal__text-mark">доработаем описание</span>, если оно вас не устроит</div>
        </div>
        <div class="goal m--magic">
            <div class="goal__text-title">простота и понятность</div>
            <div class="goal__text">итоговый результат можно скачать в формате Word и легко вставить в ВКР и работа готова</div>
        </div>
    </div>
</div>