$red-light: #ED2344;
$red-lighter: #D70025;
$red-normal: #D70032;
$red-darker: #B2002B;

$gray-normal: #F2F2F2;
$gray-darker: #E0E0E0;

$black-normal: #333;
$black-lighter: #4F4F4F;
$black-darker: #1B1B1B;
