{% extends 'layout/calc.html' %}
{% load static %}
{% load calc_tags %}

{% block head %}
{% endblock %}

{% block title %}Шаг {{ step }}{% endblock %}
{% block css-step %}{{ step }}{% endblock %}

{% block step %}short-result{% endblock step %}
{% block calc_name %}{{ calc_name }}{% endblock calc_name %}

{% block content %}
    <div class="step-page__content">

        {% if html_file %}

            <div class="step-page__result-block">
                <div class="step-page__result-block-left">
                    <div class="step-page__title">Результаты</div>
                    <div class="step-page__desc">На странице представлены результаты предварительного расчета критерия. Вы можете ознакомиться с ними и сказать их в формает Excel.</div>
                </div>

                {% if get_file %}
                    <div class="step-page__result-block-right">
                        <a class="button button-red step-page__download m--xls" href="/all/{{ calc_name }}/get_file/?calc_name={{ calc_name }}&style=full">Скачать результаты в Excell</a>
                    </div>
                {% endif %}

            </div>

            <div class="r-doc__wrapper">
                <div class="r-doc short-doc">
                    {% include html_file %}
                </div>
            </div>

            {% if not is_paid and not user.is_superuser and not no_pay %}
                <div class="step-page__pay">
                    {% include "block/need_pay.html" %}
                </div>
            {% endif %}

        {% else %}

            <p>Что-то пошло не так... Попробуйте <a href="/all/{{ calc_name }}/steps/1/" class="link">повторить</a> расчёт</p>

        {% endif %}

    </div>

    <div class="step-page__footer step-page__footer--both">
        {% include "block/prev_and_next_page.html" with need_pay=True %}
    </div>

</div><!-- step-page -->

{% endblock %}
